# Исполняемые файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Файлы конфигурации и секреты
.env
*.env
config.yaml
!config.example.yaml
migrations

# Логи и временные файлы
*.log
out

# Настройки IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
