# Исполняемые файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Файлы конфигурации и секреты
.env
*.env
config.yaml
!config.example.yaml

# Логи и временные файлы
*.log
tmp/

# Тесты и покрытие
*.test
*.out
coverage.txt

# Настройки IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
